@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.ad {
  min-height: 100%;

  h1 {
    font-size: mobile-vw(25.89px);
  }

  @include desktop {
    min-height: 100%;

    h1 {
      font-size: desktop-vw(67.77px);
    }
  }
}

.content {
  grid-column: 1 / -1;

  p:nth-of-type(3),
  p:nth-of-type(1) {
    margin-top: desktop-vw(24px);
  }

  @include desktop {
    grid-column: 1 / 5;
    p:nth-of-type(1),
    p:nth-of-type(2) {
      font-weight: 600;
      font-size: desktop-vw(20px);
    }

    p:nth-of-type(3) {
      margin-top: desktop-vw(16px);
    }
  }
}

.wrap {
  position: relative;
  grid-column: 1 / -1;
  overflow: hidden;
  height: auto;
  // aspect-ratio: 1;
  .img {
    position: relative;
    overflow: hidden;
    // aspect-ratio: 1;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  @include desktop {
    grid-column: 6 / -1;
    .img {
      min-height: 50vh;
      min-height: calc(50 * var(--vh));
      width: 100%;
    }
  }
}
