@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.hero {
  position: relative;
  height: calc(mobile-vw($mobile-height) - var(--nav-height));
  overflow: hidden;
  @include mobile {
    margin-top: mobile-vw(96px);
  }

  @include desktop {
    // height: 100vh;
    // height: calc(100 * var(--vh));
    height: calc(desktop-vw($desktop-height) - var(--nav-height));
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.title-cont {
  margin-inline: auto;
  position: relative;
  background-color: var(--primary-variant);
  z-index: 2;
  .title {
  }

  h1 {
    position: relative;

    font-size: mobile-vw(54.77px);
    color: var(--secondary-variant);
    text-align: center;
    line-height: 0.77;
    @include outline-font(var(--tertiary-variant), mobile-vw(1px));
  }

  @include desktop {
    width: desktop-vw(800px);
    height: desktop-vw(500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      margin-top: desktop-vw(96px);
    }
    h1 {
      @include outline-font(var(--tertiary-variant), desktop-vw(3px));
      font-size: desktop-vw(127.42px);
      line-height: 0.77;
      letter-spacing: 1px;
    }
  }
}

.clouds {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: mobile-vw(20px);
  height: mobile-vw(150px);

  .cloud {
    position: relative;
    width: mobile-vw(350px);
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .cloud:nth-of-type(2) {
    aspect-ratio: 985 / 520;
    margin-right: mobile-vw(-120px);
  }
  .cloud:nth-of-type(1) {
    aspect-ratio: 962 / 509;
    margin-left: mobile-vw(-120px);
  }

  @include desktop {
    height: desktop-vw(400px);
    bottom: 0;

    .cloud:nth-of-type(2) {
      margin-right: desktop-vw(-520px);
    }
    .cloud:nth-of-type(1) {
      margin-left: desktop-vw(-500px);
    }
  }
}

.arrow {
  position: relative;
  aspect-ratio: 22 / 32;
  z-index: 2;
  height: mobile-vw(48px);
  width: auto;
  margin: mobile-vw(24px) auto 0;
  // background: var(--primary-variant);
  animation: MoveUpDown 2s linear infinite;
  @keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include desktop {
    margin: desktop-vw(16px) auto 0;
    height: desktop-vw(72px);
    width: desktop-vw(72px);
  }
}

.stars {
  z-index: 1;
  width: auto;
  height: calc(mobile-vw($mobile-height) - var(--nav-height));
  aspect-ratio: 1235.077 / 678.392;
  top: mobile-vw(-96px);
  left: 0;
  right: 0;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include desktop {
    top: desktop-vw(-96px);
    width: desktop-vw($desktop-width);
    height: calc(desktop-vw($desktop-height) - var(--nav-height));
  }
}
