@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.service {
  position: relative;
}

.stars {
  margin-left: mobile-vw(105px);

  @include desktop {
    margin-left: desktop-vw(450px);
  }
}

.services-wrap {
  margin: mobile-vw(48px) 0 mobile-vw(4px);

  @include desktop {
    margin: desktop-vw(96px) 0 desktop-vw(4px);
  }
}

.grid-cont {
  @include mobile {
    max-width: mobile-vw(400px);
    margin-inline: auto;
  }

  @include desktop {
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
    width: desktop-vw(1200px);
  }
}
