@use 'sass:color';
@use '@/styles/abstracts/_index' as *;

$colors: (
  'primary': #683aff,
  'secondary': #1a1b1d,
  'tertiary': #fff6df,
  'quaternary': #fbc748,
  'quinary': #ff7438,
);

@each $name, $color in $colors {
  .clr-#{$name} {
    color: #{$color};
  }
  .bg-#{$name} {
    background-color: #{$color};
  }
}

:root {
  @each $name, $color in $colors {
    --#{$name}-variant: #{$color};
  }
}
